# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular programming languages used in Data Science.
- Understand basic arithmetic expressions and operations in Python.
- Learn how to convert between units (e.g., minutes to hours).
- Explore some of the common libraries used by Data Scientists.
- Identify key development tools and environments for Data Science.

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R
4. julia

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. matplotlib
3. numpy
4. seaborn

|Data Science Tools       |
|-------------------------|
|pandas                   |
|Apache spark             |
|Scikit                   |

### Below are a few examples of evaluating arithmetic expressions in Python:

- **Addition**: `5 + 3 = 8`
- **Subtraction**: `10 - 4 = 6`
- **Multiplication**: `7 * 2 = 14`
- **Division**: `20 / 4 = 5.0`
- **Exponentiation**: `2 ** 3 = 8`
- **Modulo**: `10 % 3 = 1`

In [31]:
# This a simple arithmetic expression to mutiply then add integers
result = (3 * 4) + 5
result

17

In [33]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Venkata naveen.Regula